@charset "utf-8";

html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #383e45;
  margin-bottom: 60px;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}
/* header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.site-title {
  width: 120px;
  padding: 10px 0;
  line-height: 1px;
}
.site-title a {
  display: block;
}
#header ul {
  padding: 10 0px;
}
#header li {
  display: inline-block;
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

/* main */
#mainvisual {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 80px;
}

/* About */
#about .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}
.about-item {
  text-align: left;
}

/* bicycle */
.bicycle-content {
  display: flex;
  justify-content: space-around;
}
.bicycle-item {
  width: 31.5%;
}
#bicycle p {
  text-align: left;
}
/* footer */
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  /* header */
  #header {
    margin: 0;
  }
  /* main */
  #mainvisual img {
    height: calc(100vh - 60px);
  }
  /* about */
  #about .about-content {
    flex-direction: column;
    margin: 0;
  }
  #about img {
    margin: 0;
  }
  /* bicycle */
  .bicycle-content {
    flex-direction: column;
  }
  .bicycle-item {
    width: 100%;
    margin-bottom: 30px;
  }
}
